# Node modules
node_modules/

# Backend secrets
BACKEND/token.json
BACKEND/credentials.json
BACKEND/.env

#Frontend secrets
FRONTEND/.env


# Environment files
.env

# Logs
npm-debug.log*

FRONTEND.zip